@import "../abstracts/mixins/buttons";

.info_section {
  background-color: rgba(211, 211, 211, 0.2);
  text-align: center;
  & h1 {
    margin-bottom: 0.7rem;
    font-weight: bold;
  }
  & p {
    font-weight: 300;
    margin-bottom: 2rem;
  }
  &__CTA {
    @include gradient-btn(1rem, 2rem);
  }
}
