@import "../abstracts//mixins/responsive";

.footer {
  position: relative;
  padding: 1rem;
  background-color: rgb(58, 53, 53);
  @include for-size(tablet) {
    padding: 1rem 10rem;
  }
  &__logo {
    margin-bottom: 1rem;
    & svg {
      width: 100px;
    }
    & svg path {
      fill: white;
    }
  }
  &__usefull_links li {
    margin-bottom: 0.5rem;
    cursor: pointer;
    & a {
      color: white;
    }
    & i {
      color: white;
      margin-right: 0.5rem;
    }
  }
}
