
//Font variables
$primary-font: "Roboto", sans-serif;
$big-title-font: "Shrikhand", cursive;

//Color variables
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

//Color gradient
$primary-gradient: linear-gradient(
  180deg,
  rgba(255, 121, 218, 1) 0%,
  rgba(147, 86, 220, 1) 100%
);
$secondary-gradient: linear-gradient(
  180deg,
  adjust-color($secondary-color, $lightness: 5%) 0%,
  adjust-color($primary-color, $lightness: 5%) 100%
);

// Loading variables
$loading-timing: 1s;
