@import "../core/typography";

//Font variables
$primary-font: "Roboto", sans-serif;
$big-title-font: "Shrikhand", cursive;

//Color variables
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
